@(currentPage: com.avaje.ebean.Page[UserApp], currentSortBy: String, currentOrder: String, currentFilter: String, message: String, menu: Html)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Admin.listComp(newPage, sortBy, order, currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main(message, menu) {
      
   <div class="row">
    <div class="span2">
      <ul class="nav nav-list">
		  <li class="nav-header">@Messages("options")</li>
		  <li><a href=@routes.Admin.dashboard()>@Messages("admin.dashboard")</a></li>
		  <li><a href=@routes.Admin.list(0,"name", "asc","")>@Messages("admin.cand")</a></li>
		  <li class="active"><a href=@routes.Admin.listComp(0,"name", "asc","")>@Messages("admin.enter")</a></li>
		  <li><a href=@routes.Admin.listJobs(0,"title", "asc","")>@Messages("admin.job")</a></li>
		  <li class="nav-header">@Messages("profile")</li>
		  <li><a href=@routes.Application.prepareUser()>@Messages("account")</a></li>
		</ul>
    </div>
    <div class="span10">

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

	<fieldset>
	
		<legend>@Messages("admin.enter")</legend>
		
    <div id="actions">
        
        <form action="@link(0, "name")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder=@Messages("admin.filter")>
            <input type="submit" id="searchsubmit" value=@Messages("admin.filter") class="btn primary">
        </form>
        
    </div>
    
    @if(currentPage.getTotalRowCount == 0) {
        
        <div class="well">
            <em>@Messages("general.nodata")</em>
        </div>
        
    } else {
        
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="table">
            <thead>
                <tr>
                    @header("name", Messages("user.name"))
                    @header("secName", Messages("user.secname"))
                    @header("email", Messages("user.email"))
                    @header("docId", Messages("user.dni"))
                    @header("birthDate", Messages("user.bdate"))
                    <th>@Messages("options")</th>
                </tr>
            </thead>
            <tbody>

                @for(userApp <- currentPage.getList) {
                    <tr>
                        <td>@userApp.name</td>
                        <td>@userApp.secName</td>
                          <td>
                            @if(userApp.email == null) {
                                <em>-</em>
                            } else {
                                @userApp.email
                            }
                        </td>
                        <td>@userApp.docId</td>
                        <td>
                            @if(userApp.birthDate == null) {
                                <em>-</em>
                            } else {
                                @userApp.birthDate.format("dd MMM yyyy")
                            }
                        </td>
                        <td>--</td>
                      
                    </tr>
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @if(currentPage.hasPrev) {
                    <li class="prev">
                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; @Messages("admin.previous")</a>
                    </li>
                } else {
                    <li class="prev disabled">
                        <a>&larr; @Messages("admin.previous")</a>
                    </li>
                }
                <li class="current">
                    <a>@Messages("admin.disp") @currentPage.getDisplayXtoYofZ( Messages("admin.to") , Messages("admin.of") )</a>
                </li>
                @if(currentPage.hasNext) {
                    <li class="next">
                        <a href="@link(currentPage.getPageIndex + 1, null)">@Messages("admin.next") &rarr;</a>
                    </li>
                } else {
                    <li class="next disabled">
                        <a>@Messages("admin.next") &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }
    </fieldset>
    </div>
        </div>
}

            