@(message: String, menu: Html, numJobs: Integer, numCandidates: Integer, numCompanies: Integer) 

@main(message, menu) {

   <ul class="breadcrumb">
	  <li><a href=@routes.Admin.dashboard()>@Messages("admin.area")</a> <span class="divider">/</span></li>
	  <li class="active">@Messages("admin.dashboard")</li>
	 </ul>
	 
<div class="row">

	<div class="span2">
		<ul class="nav nav-list">
			<li class="nav-header">@Messages("options")</li>
			<li class="active"><a href=@routes.Admin.dashboard()>@Messages("admin.dashboard")</a></li>
			<li><a href=@routes.Admin.list(0,"name", "asc","")>@Messages("admin.cand")</a></li>
			<li><a href=@routes.Admin.listComp(0,"name", "asc","")>@Messages("admin.enter")</a></li>
			<li><a href=@routes.Admin.listJobs(0,"title", "asc","")>@Messages("admin.job")</a></li>
			<li class="nav-header">@Messages("profile")</li>
			<li><a href=@routes.Application.prepareUser()>@Messages("account")</a></li>
		</ul>
	</div>
	<div class="span10"></div>

	<ul class="thumbnails">
		<li class="span3">
			<div class="thumbnail">
				<img data-src="holder.js/300x200" alt="@Messages("admin.cand.act")"
					style="width: 300px; height: 200px;"
					src="@routes.Assets.at("images/cv.jpg")">
				<div class="caption">
					<h3>@Messages("admin.cand.act") (@numCandidates)</h3>
					<p>@Messages("admin.cand.txt")</p>
					<p>
						<a href=@routes.Admin.list(0,"name", "asc","") class="btn btn-primary">@Messages("admin.cand")</a>
					</p>
				</div>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<img data-src="holder.js/300x200" alt="@Messages("admin.enter.act")"
					style="width: 300px; height: 200px;"
					src="@routes.Assets.at("images/empr.jpg")">
				<div class="caption">
					<h3>@Messages("admin.enter.act") (@numCompanies)</h3>
					<p>@Messages("admin.enter.txt")</p>
					<p>
						<a href=@routes.Admin.listComp(0,"name", "asc","") class="btn btn-primary">@Messages("admin.enter")</a>
					</p>
				</div>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail">
				<img data-src="holder.js/300x200" alt="@Messages("admin.job.act")"
					style="width: 300px; height: 200px;"
					src="@routes.Assets.at("images/jobs.jpeg")">
				<div class="caption">
					<h3>@Messages("admin.job.act") (@numJobs)</h3>
					<p>@Messages("admin.job.txt")</p>
					<p>
						<a href=@routes.Admin.listJobs(0,"title", "asc","") class="btn btn-primary">@Messages("admin.job")</a>
					</p>
				</div>
			</div>
		</li>
	</ul>

</div>



}
