@(message: String, jobs: List[JobOffer], menu: Html) 


@main(message, menu) {

<ul class="breadcrumb">
  <li><a href="#">Candidate Area</a> <span class="divider">/</span></li>
  <li class="active">Applied jobs</li>
</ul>

  	@if(flash.contains("success")) {
     	<div class="alert alert-success">
  			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Info!</strong> @flash.get("success")
		</div>
      }
      
      @if(flash.contains("updated")) {
    	<div class="alert alert-success">
 			<button type="button" class="close" data-dismiss="alert">&times;</button>
 			<strong>Info!</strong> @flash.get("updated")
	</div>
     }
      

<div class="row">
    <div class="span2">
	    <ul class="nav nav-list">
		  <li class="nav-header">@Messages("options")</li>
		  <li class="active"><a href=@routes.Candidate.index()>Applied jobs</a></li>
		  <li><a href=@routes.Candidate.prepareSearchJob()>Search Jobs</a></li>
		  <li class="nav-header">@Messages("profile")</li>
		  <li><a href=@routes.Application.prepareUser()>@Messages("account")</a></li>
		</ul>
       
    </div>
    <div class="span10 scrolling-table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Job details</th>
                    <th>@Messages("options")</th>
                </tr>
            </thead>
            <tbody>
                @if(jobs.size() == 0 || jobs == null) {
                    <tr>
                        <td>No Jobs to show</td>
                        <td></td>
                    </tr>
                }
                @for(job <- jobs) {
                     <tr>
                        
                        <td>
                        	@if(job.inscribed != null){
								  @if(job.inscribed.exists(x => x.email == session.get("email"))){
								  	<span class="label pull-right">Total candidates inscribed: @job.inscribed.size</span>
								  }else{
								 	 <span class="label pull-right label-info">inscribed: @job.inscribed.size</span>
								  }
                            } else {
                                <span class="label pull-right label-info">0 inscribed</span>
                            }
                            
                            <blockquote>
							  <p>@job.description</p>
							  <small>@job.publisher.name</small>
							</blockquote>
							
							<table class="table table-condensed table-striped table-bordered">
							  <tbody>
							  	<tr>
							      <td width="25%"><strong>Title</strong></td>
							      <td width="25%">@job.title</td>
							      <td width="25%"><strong>Vacants</strong></td>
							      <td width="25%">@job.numVacants</td>
							    </tr>
							    <tr>
							      <td><strong>Duration</strong></td>
							      @if(job.duration != null){
							      	<td>@job.duration.name</td>
							      }else{
							      	 <td>--</td>
							      }
							      <td><strong>Work type</strong></td>
							      @if(job.worktype != null){
							      	<td>@job.worktype.name</td>
							      }else{
							      	 <td>--</td>
							      }
							    </tr>
							    <tr>
							     <td><strong>Province</strong></td>
							     @if(job.province != null){
							      	<td>@job.province.name</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td><strong>Emplacement</strong></td>
							      <td>@job.emplacement</td>
							    </tr>
							    <tr>
							     <td><strong>Salary</strong></td>
							     @if(job.salary != null){
							      	<td>@job.salary</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td><strong>Benefits</strong></td>
							     <td>@job.benefits</td>
							    </tr>
							    <tr>
							     <td><strong>Sector</strong></td>
							     @if(job.sector != null){
							      	<td>@job.sector.name</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td><strong>Inscription date</strong></td>
							     <td>
                          		  @if(job.publicationDate != null) {
                          	       @job.publicationDate.format("dd/MM/yyyy")
                          			  } else {
                                	 --
                            		}
                        		</td>		
							    </tr>
							  </tbody>
							</table>
	
						
                        </td>
                        <td>
                        	@if(job.inscribed != null){
								  @if(job.inscribed.exists(x => x.email == session.get("email"))){
								  <a href=@routes.Candidate.revoke(job.id) class="btn pull-right btn-primary">Unsubscribe</a>
								  }else{
								  <a href=@routes.Candidate.subscribe(job.id) class="btn pull-right btn-primary">Subscribe!</a>
								  }
							}
                        </td>
                     
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


}
