@(job: JobOffer)

<fieldset>
	<legend>@job.title</legend>
	<li data-project="@job.id">
	<p>Description: @job.description</p
	<p>Vacants: @job.numVacants</p>
	<p>Duration: @job.duration</p>
	<p>Work Type: @job.workType</p>
	<p>Salary: @job.salary</p>
	<p>Emplacement: @job.emplacement</p>
	<p>Benefits: @job.benefits</p>
	<p>Expiration: @job.expirationDate</p>
			
	<button class="name" href="#">Edit</button>
	<button class="delete" href="">Delete</button>
	<button class="name" href="">Inscribed</button>
	</li>
</fieldset>