@(userForm: Form[SearchJob], menu: Html, jobs: List[JobOffer])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 


@main("Search Jobs", menu) {

<ul class="breadcrumb">
  <li><a href="#">Candidate Area</a> <span class="divider">/</span></li>
  <li class="active">Search jobs</li>
</ul>

	<div class="row-fluid">
    
    <div class="span2">
	    <ul class="nav nav-list">
		  <li class="nav-header">Options</li>
		  <li><a href=@routes.Candidate.index()>Applied jobs</a></li>
		  <li class="active"><a href=@routes.Candidate.prepareSearchJob()>Search Jobs</a></li>
		</ul>
	</div>
	
	<div class="span10">
	<div class="well well-small">
	
	@form(routes.Candidate.searchJob()) {
        
        <fieldset>
            <legend>Search jobs</legend>
            
            <div class="span3">
            @inputText(userForm("title"), '_label -> "Title")
            @select(
		                userForm("province.id"), 
		                options(Province.options), 
		                '_label -> "Province", '_default -> "-- Choose a province --",
		                '_showConstraints -> false
		             )
		    
            </div>
            <div class="span3">
             @select(
	                userForm("sector.id"), 
	                options(Sector.options), 
	                '_label -> "Sector", '_default -> "-- Choose a sector --",
	                '_showConstraints -> false
	            )
			@inputText(userForm("emplacement"), '_label -> "emplacement desc.")
			
            </div>
            <div class="span3">
            @select(
	                userForm("duration.id"), 
	                options(Duration.options), 
	                '_label -> "Duration", '_default -> "-- Choose a duration --",
	                '_showConstraints -> false
	             )
            @select(
		                userForm("work_type.id"), 
		                options(WorkType.options), 
		                '_label -> "Work Type", '_default -> "-- Choose a work type --",
		                '_showConstraints -> false
		             )
	           
	            
            </div>
                
            <br/>
            <div class="span1">
                <div class="actions">
                    <input type="submit" value="Search" class="btn">
                </div>
            </div>

		    </fieldset>
        
    }
   
    </div>
    </div>
    
    <div class="row-fluid">
    	<div class="span2">
    	</div>
    	<div class="span10 scrolling-table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Job details</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @if(jobs.size() == 0 || jobs == null) {
                    <tr>
                        <td>No Results</td>
                        <td></td>
                    </tr>
                }
                @for(job <- jobs) {
                    <tr>
                        
                        <td>
                        	@if(job.inscribed != null){
								  @if(job.inscribed.exists(x => x.email == session.get("email"))){
								  	<span class="label pull-right">Already inscribed! Total: @job.inscribed.size</span>
								  }else{
								 	 <span class="label pull-right label-info">inscribed: @job.inscribed.size</span>
								  }
                            } else {
                                <span class="label pull-right label-info">0 inscribed</span>
                            }
                            
                            <blockquote>
							  <p>@job.description</p>
							  <small>@job.publisher.name</small>
							</blockquote>
							
							<table class="table table-condensed table-bordered">
							  <tbody>
							  	<tr>
							      <td width="25%"><strong>Title</strong></td>
							      <td width="25%">@job.title</td>
							      <td width="25%"><strong>Vacants</strong></td>
							      <td width="25%">@job.numVacants</td>
							    </tr>
							    <tr>
							      <td><strong>Duration</strong></td>
							      @if(job.duration != null){
							      	<td>@job.duration.name</td>
							      }else{
							      	 <td>--</td>
							      }
							      <td><strong>Work type</strong></td>
							      @if(job.workType != null){
							      	<td>@job.workType.name</td>
							      }else{
							      	 <td>--</td>
							      }
							    </tr>
							    <tr>
							     <td><strong>Province</strong></td>
							     @if(job.province != null){
							      	<td>@job.province.name</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td><strong>Emplacement</strong></td>
							      <td>@job.emplacement</td>
							    </tr>
							    <tr>
							     <td><strong>Salary</strong></td>
							     @if(job.salary != null){
							      	<td>@job.salary</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td><strong>Benefits</strong></td>
							     <td>@job.benefits</td>
							    </tr>
							    <tr>
							     <td><strong>Sector</strong></td>
							     @if(job.sector != null){
							      	<td>@job.sector.name</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td><strong>Inscription date</strong></td>
							     <td>
                          		  @if(job.publicationDate != null) {
                          	       @job.publicationDate.format("dd/MM/yyyy hh:mm")
                          			  } else {
                                	 --
                            		}
                        		</td>		
							    </tr>
							  </tbody>
							</table>
	
						
                        </td>
                        <td>
                        	<!-- div class="btn-group"-->
                        	@if(job.inscribed != null){
								  @if(job.inscribed.exists(x => x.email == session.get("email"))){
								  <a href=@routes.Candidate.revoke(job.id) class="btn pull-right">Unsubscribe</a>
								  }else{
								  <a href=@routes.Candidate.subscribe(job.id) class="btn pull-right btn-primary">Subscribe!</a>
								  }
							}
                        	  <!-- a href=@routes.Candidate.viewJob(job.id) class="btn pull-right btn-info">View details</a-->
							  
							<!-- /div-->
                        </td>
                     
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
    
    
    </div>
    
}