@(userForm: Form[SearchJob], menu: Html, jobs: List[JobOffer])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 


@main(Messages("inscribed.search"), menu) {

<ul class="breadcrumb">
  <li><a href=@routes.Candidate.index()>@Messages("candidate.area")</a> <span class="divider">/</span></li>
  <li class="active">@Messages("inscribed.search")</li>
</ul>

	<div class="row-fluid">
    
    <div class="span2">
	    <ul class="nav nav-list">
		  <li class="nav-header">@Messages("options")</li>
		  <li><a href=@routes.Candidate.index()>@Messages("inscribed.enrolled")</a></li>
		  <li class="active"><a href=@routes.Candidate.prepareSearchJob()>@Messages("inscribed.search")</a></li>
		  <li class="nav-header">@Messages("profile")</li>
		  <li><a href=@routes.Application.prepareUser()>@Messages("account")</a></li>
		</ul>
	</div>
	
	<div class="span10">
	<div class="well well-small">
	
	@form(routes.Candidate.searchJob()) {
        
        <fieldset>
            <legend>@Messages("inscribed.search")</legend>
            
            <div class="span3">
            @inputText(userForm("title"), '_label -> Messages("job.title"))
            @select(
		                userForm("province.id"), 
		                options(Province.options), 
		                '_label -> Messages("job.province"), '_default -> Messages("job.province.def"),
		                '_showConstraints -> false
		             )
		    
            </div>
            <div class="span3">
             @select(
	                userForm("sector.id"), 
	                options(Sector.options), 
	                '_label -> Messages("job.sector"), '_default -> Messages("job.sector.def"),
	                '_showConstraints -> false
	            )
			@inputText(userForm("emplacement"), '_label -> Messages("job.place"))
			
            </div>
            <div class="span3">
            @select(
	                userForm("duration.id"), 
	                options(Duration.options), 
	                '_label -> Messages("job.duration"), '_default -> Messages("job.duration.def"),
	                '_showConstraints -> false
	             )
            @select(
		                userForm("worktype.id"), 
		                options(Worktype.options), 
		                '_label -> Messages("job.workType"), '_default -> Messages("job.work.def"),
		                '_showConstraints -> false
		             )
	           
	            
            </div>
                
            <br/>
            <div class="span1">
                <div class="actions">
                    <input type="submit" value=@Messages("search") class="btn">
                </div>
            </div>

		    </fieldset>
        
    }
   
    </div>
    </div>
    
    <div class="row-fluid">
    	<div class="span2">
    	</div>
    	<div class="span10 scrolling-table">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Messages("job.details")</th>
                    <th>@Messages("options")</th>
                </tr>
            </thead>
            <tbody>
                @if(jobs.size() == 0 || jobs == null) {
                    <tr>
                        <td>@Messages("jobs.nojobs")</td>
                        <td></td>
                    </tr>
                }
                @for(job <- jobs) {
                    <tr>
                        
                        <td>
                        	@if(job.inscribed != null){
								  @if(job.inscribed.exists(x => x.email == session.get("email"))){
								  	<span class="label pull-right">@Messages("jobs.enrolled.total") @job.inscribed.size</span>
								  }else{
								 	 <span class="label pull-right label-info">@Messages("jobs.enrolled.count") @job.inscribed.size</span>
								  }
                            } else {
                                <span class="label pull-right label-info">@Messages("noenrolled")</span>
                            }
                            
                            <blockquote>
							  <p>@job.description</p>
							  <small>@job.publisher.name</small>
							</blockquote>
							
							<table class="table table-condensed table-striped table-bordered">
							  <tbody>
							  	<tr>
							      <td width="25%"><strong>@Messages("job.title")</strong></td>
							      <td width="25%">@job.title</td>
							      <td width="25%"><strong>@Messages("job.numVac")</strong></td>
							      <td width="25%">@job.numVacants</td>
							    </tr>
							    <tr>
							      <td><strong>@Messages("job.duration")</strong></td>
							      @if(job.duration != null){
							      	<td>@job.duration.name</td>
							      }else{
							      	 <td>--</td>
							      }
							      <td><strong>@Messages("job.workType")</strong></td>
							      @if(job.worktype != null){
							      	<td>@job.worktype.name</td>
							      }else{
							      	 <td>--</td>
							      }
							    </tr>
							    <tr>
							     <td><strong>@Messages("job.province")</strong></td>
							     @if(job.province != null){
							      	<td>@job.province.name</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td><strong>@Messages("job.place")</strong></td>
							      <td>@job.emplacement</td>
							    </tr>
							    <tr>
							     <td><strong>@Messages("job.salary")</strong></td>
							     @if(job.salary != null){
							      	<td>@job.salary</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td><strong>@Messages("job.benefits")</strong></td>
							     <td>@job.benefits</td>
							    </tr>
							    <tr>
							     <td><strong>@Messages("job.sector")</strong></td>
							     @if(job.sector != null){
							      	<td>@job.sector.name</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td><strong>@Messages("job.inscription")</strong></td>
							     <td>
                          		  @if(job.publicationDate != null) {
                          	       @job.publicationDate.format("dd/MM/yyyy")
                          			  } else {
                                	 --
                            		}
                        		</td>		
							    </tr>
							  </tbody>
							</table>
	
						
                        </td>
                        <td>
                        	<!-- div class="btn-group"-->
                        	@if(job.inscribed != null){
								  @if(job.inscribed.exists(x => x.email == session.get("email"))){
								  <a href=@routes.Candidate.revoke(job.id) class="btn pull-right">@Messages("inscribed.unenroll")</a>
								  }else{
								  <a href=@routes.Candidate.subscribe(job.id) class="btn pull-right btn-primary">@Messages("inscribed.enroll")</a>
								  }
							}
                        	  <!-- a href=@routes.Candidate.viewJob(job.id) class="btn pull-right btn-info">View details</a-->
							  
							<!-- /div-->
                        </td>
                     
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
    
    
    </div>
    
}