 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
   
          <a class="brand" href=@routes.Application.index()>@Messages("home.title")</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href=@routes.Company.index()>Published jobs</a></li>
              <li><a href=@routes.Company.addJob()>Add new offer</a></li>
              
            </ul>
          
             @if(session.get("connected") == null) {
            	<a href=@routes.Application.login() class="btn pull-right btn-info">@Messages("menu.sign")</a>
         	  <div class="btn-group pull-right">
			  <a class="btn dropdown-toggle pull-right btn-info" data-toggle="dropdown" href="#">
			    @Messages("leftbox.button")
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			     <li><a href=@routes.Application.newUser()>New candidate</a></li>
			     <li><a href=@routes.Application.newCompUser()>New enterprise</a></li>
			  </ul>
			</div>
            } else {
            	<div class="btn-group pull-right">
				  <a class="btn dropdown-toggle pull-right btn-info" data-toggle="dropdown" href="#">
				    @session.get("email")
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				    <li><a href=@routes.Application.prepareUser()>My Account</a></li>
	            	<li><a href=@routes.Application.logout() id="logout">Logout</a></li>
				  </ul>
            	</div>
            }
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>