@(message: String, jobs: List[JobOffer], menu: Html) 


@main(message, menu) {


  @if(flash.contains("success")) {
     	<div class="alert alert-success">
  			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Info!</strong> @flash.get("success")
		</div>
      }
      
  <ul class="breadcrumb">
  <li><a href="#">Company Area</a> <span class="divider">/</span></li>
  <li class="active">Published jobs</li>
 </ul>
      
<div class="row">
    <div class="span2">
    
    <ul class="nav nav-list">
		  <li class="nav-header">Options</li>
		  <li class="active"><a href=@routes.Company.index()>Published jobs</a></li>
		  <li><a href=@routes.Company.addJob()>Add new job</a></li>
		</ul>
        
    </div>
    <div class="span10 scrolling-table">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Creation date</th>
                    <th>Job details</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @if(jobs.size() == 0 || jobs == null) {
                    <tr>
                        <td>No Jobs</td>
                        <td></td>
                    </tr>
                }
                @for(job <- jobs) {
                    <tr>
                        <td class="cover">
                       		 @if(job.publicationDate != null) {
                                 @job.publicationDate.format("dd/MM/yyyy hh:mm")
                          		  } else {
                                 --
                            	}
                            
                        </td>
                        <td>
                            @if(job.inscribed != null) {
                                <span class="label pull-left label-success">@job.inscribed.size Inscribed!</span>
                            } else {
                                <span class="label pull-left label-warning">0 inscribed</span>
                            }
                            <dl class="dl-horizontal">
                                <dt>Title</dt>
                                <dd>@job.title</dd>
                                <dt>Description</dt>
                                <dd>@job.description</dd>
                                
                                <dt>Vacants</dt>
                                 @if(job.numVacants != null) {
                                 <dd>@job.numVacants</dd>
                          		  } else {
                                 <dd>-</dd>
                            	}
                            	
                                
                                <dt>Duration</dt>
                                 @if(job.duration != null) {
                                  <dd>@job.duration.name</dd>
                          		  } else {
                                 <dd>-</dd>
                            	}
                               
                                
                                <dt>Work type</dt>
                                @if(job.workType != null) {
                                 <dd>@job.workType.name</dd>
                          		  } else {
                                 <dd>-</dd>
                            	}
                                
                                
                                
                                <dt>Sector</dt>
                                @if(job.sector != null) {
                                 <dd>@job.sector.name</dd>
                          		  } else {
                                 <dd>--</dd>
                            	}
                               
                              
                            </dl>
                        </td>
                           <td>
                            <div class="btn-group">
							  <a class="btn dropdown-toggle btn" data-toggle="dropdown" href="#">
							    Manage Offer
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu">
							     <li><a href=#>View details</a></li>
							     <li><a href=#>View inscribed</a></li>
							     <li><a href=#>Delete offer</a></li>
							  </ul>
							  </div>
                        	<!-- div class="btn-group btn-group-vertical">
							  <button class="btn">View details</button>
							  <button class="btn">View inscribed</button>
							  <button class="btn">Delete offer</button>
							</div-->
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


}
