@(message: String, job: JobOffer, menu: Html) 


@main(message, menu) {

<ul class="breadcrumb">
  <li><a href="#">Company Area</a> <span class="divider">/</span></li>
  <li><a href=@routes.Company.index()>Published jobs</a> <span class="divider">/</span></li>
  <li class="active">Job details</li>
 </ul>
 
  @if(flash.contains("success")) {
     	<div class="alert alert-success">
  			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Info!</strong> @flash.get("success")
		</div>
      }
      
<div class="row">
    <div class="span2">
    
    <ul class="nav nav-list">
		  <li class="nav-header">Options</li>
		  <li><a href=@routes.Company.index()>Published jobs</a></li>
		  <li><a href=@routes.Company.addJob()>Add new job</a></li>
		</ul>
        
    </div>
    <div class="span10 scrolling-table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Job resume</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        
                        <td>
                        	@if(job.inscribed != null){
								  @if(job.inscribed.exists(x => x.email == session.get("email"))){
								  	<span class="label pull-right">Total candidates inscribed: @job.inscribed.size</span>
								  }else{
								 	 <span class="label pull-right label-info">inscribed: @job.inscribed.size</span>
								  }
                            } else {
                                <span class="label pull-right label-info">0 inscribed</span>
                            }
                            
                            <blockquote>
							  <p>@job.description</p>
							  <small>@job.publisher.name</small>
							</blockquote>
							
							<table class="table table-condensed table-striped table-bordered">
							  <tbody>
							  	<tr>
							      <td width="25%"><strong>Title</strong></td>
							      <td width="25%">@job.title</td>
							      <td width="25%"><strong>Vacants</strong></td>
							      <td width="25%">@job.numVacants</td>
							    </tr>
							    <tr>
							      <td><strong>Duration</strong></td>
							      @if(job.duration != null){
							      	<td>@job.duration.name</td>
							      }else{
							      	 <td>--</td>
							      }
							      <td><strong>Work type</strong></td>
							      @if(job.worktype != null){
							      	<td>@job.worktype.name</td>
							      }else{
							      	 <td>--</td>
							      }
							    </tr>
							    <tr>
							     <td><strong>Province</strong></td>
							     @if(job.province != null){
							      	<td>@job.province.name</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td><strong>Emplacement</strong></td>
							      <td>@job.emplacement</td>
							    </tr>
							    <tr>
							     <td><strong>Salary</strong></td>
							     @if(job.salary != null){
							      	<td>@job.salary</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td><strong>Benefits</strong></td>
							     <td>@job.benefits</td>
							    </tr>
							    <tr>
							     <td><strong>Sector</strong></td>
							     @if(job.sector != null){
							      	<td>@job.sector.name</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td><strong>Inscription date</strong></td>
							     <td>
                          		  @if(job.publicationDate != null) {
                          	       @job.publicationDate.format("dd/MM/yyyy hh:mm")
                          			  } else {
                                	 --
                            		}
                        		</td>		
							    </tr>
							  </tbody>
							</table>
	
						
                        
                    </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="span2"></div>
    <div class="span10 scrolling-table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Candidates information</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @if(job.inscribed.size() == 0 || job.inscribed == null) {
                    <tr>
                        <td>No candidates</td>
                        <td></td>
                    </tr>
                }
                @for(cand <- job.inscribed) {
                    <tr>
                        
                        <td>
                        	
                            <blockquote>
							  <p>@cand.name</p>
							  <small>@cand.secName</small>
							</blockquote>
							
							<table class="table table-condensed table-striped table-bordered">
							  <tbody>
							  	<tr>
							      <td width="25%"><strong>Name</strong></td>
							      <td width="25%">@cand.name</td>
							      <td width="25%"><strong>Email</strong></td>
							      <td width="25%">@cand.email</td>
							    </tr>
							    <tr>
							      <td><strong>Education</strong></td>
							      @if(cand.education != null){
							      	<td>@cand.education</td>
							      }else{
							      	 <td>--</td>
							      }
							      <td><strong>Experience</strong></td>
							      @if(cand.experience != null){
							      	<td>@cand.experience</td>
							      }else{
							      	 <td>--</td>
							      }
							    </tr>
							    <tr>
							     <td><strong>Languages</strong></td>
							     @if(cand.languages != null){
							      	<td>@cand.languages</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td><strong>Projects</strong></td>
							      <td>@cand.projects</td>
							    </tr>
							    <tr>
							     <td><strong>Web</strong></td>
							     @if(cand.web != null){
							      	<td>@cand.web</td>
							      }else{
							      	 <td>--</td>
							      }
							     <td></td>
							     <td></td>
							    </tr>
							  </tbody>
							</table>
	
						
                        </td>
                           <td>
                            <div class="btn-group">
							  <a class="btn dropdown-toggle btn" data-toggle="dropdown" href="#">
							    Manage Offer
							    <span class="caret"></span>
							  </a>
							  <ul class="dropdown-menu">
							  	 <li><a href=@routes.Company.details(job.id)>View inscribed</a></li>
							     <li><a href=#>View details</a></li>
							     <li><a href=#>Delete offer</a></li>
							  </ul>
							  </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


}
