@(message: String, menu: Html)

@main(message, menu) {

     @if(flash.contains("success")) {
     	<div class="alert">
  			<button type="button" class="close" data-dismiss="alert">&times;</button>
  			<strong>Info!</strong> @flash.get("success")
		</div>
      }
            
    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>@Messages("home.title")!</h1>
        <p>@Messages("main.container.txt")</p>
        <p><a href=@routes.Application.login() class="btn btn-primary btn-large">Log In &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>@Messages("leftbox.title")</h2>
          <p>@Messages("leftbox.msg") </p>
          <p><a class="btn" href=@routes.Application.newUser()>@Messages("leftbox.button") &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>@Messages("centralbox.title")</h2>
          <p>@Messages("centralbox.msg") </p>
          <p><a class="btn" href=@routes.Application.newCompUser()>@Messages("centralbox.button") &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Josep IA 2013 (TFG UOC)</p>
      </footer>

    </div> <!-- /container -->


}
