@(form: Form[Application.Login], menu: Html)

@main("Login", menu) {
        
      	  @if(flash.contains("error")) {
     			<div class="alert alert-error">
  					<button type="button" class="close" data-dismiss="alert">&times;</button>
  					<strong>Error!</strong> @flash.get("error")
				</div>
     		 }
            
            @if(flash.contains("success")) {
               <div class="alert alert-success">
  				<button type="button" class="close" data-dismiss="alert">&times;</button>
  				<strong>Info!</strong> @flash.get("success")		
  				</div>
            }
            
        <div class="container fill">
        
         <div class="row">
         
         <div class="span5 offset4">
         
         <fieldset>
           <legend>Sign in</legend>
		       @helper.form(routes.Application.authenticate()) {
		            <p>	
		                <input type="email" name="email" placeholder="Email" value="@form("email").value">
		            </p>
		            <p>
		                <input type="password" name="password" placeholder="Password">
		            </p>
		            <p>
		                <button type="submit" class="btn btn-primary">Login</button>
		            </p>
		            
		        }
       
       </fieldset>
       
       </div>
        </div>
        
        <br/>
        <br/>
        
        <p class="note">
            Try <em>josep@@sample.com</em> (Enterprise mode), with <em>password</em> as password or 
        </p>
         <p class="note">
            try <em>josep.itarte@@gmail.com</em> (Candidate mode), with <em>password</em> as password or
        </p>
         <p class="note">
            try <em>josep@@admin.com</em> (Administrator mode), with <em>password</em> as password.
        </p>
        
         </div>
            
}
    


