 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href=@routes.Application.index()>@Messages("home.title")</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href=@routes.Application.index()>@Messages("menu.home")</a></li>
              <!-- li><a href="#about">@Messages("menu.about")</a></li-->
              <li><a href="#contact">@Messages("menu.contact")</a></li>

            </ul>
            @if(session.get("connected") == null) {
          	  <a href=@routes.Application.login() class="btn pull-right btn-info">@Messages("menu.sign")</a>
         	  <a href=@routes.Application.newUser() class="btn pull-right btn-info">@Messages("leftbox.button")</a>
            } else {
            	<p class="nav navbar-text">Logged in as @session.get("email")</p>
            	   	
            	<a href=@routes.Application.logout() class="btn pull-right btn-info" id="logout">Logout</a>
                <a href="" class="btn pull-right btn-info">My Account</a>
            	@if(session.get("type") == "CANDIDATE"){
            	<a href=@routes.Candidate.index() class="btn pull-right btn-info">Candidate Area</a>
            	}
            	@if(session.get("type") == "ENTERPRISE"){
            	<a href=@routes.Company.index() class="btn pull-right btn-info">Company Area</a>
            	}
            	@if(session.get("type") == "ADMINISTRATOR"){
            	<a href=@routes.Admin.list(0,"name", "asc","") class="btn pull-right btn-info">Administratort Area</a>
            	}
         
            }
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>