 <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href=@routes.Application.index()>@Messages("home.title")</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href=@routes.Application.index()>@Messages("menu.home")</a></li>
              <!-- li><a href="#about">@Messages("menu.about")</a></li-->
              <li><a href="#contact">@Messages("menu.contact")</a></li>

            </ul>
            
            <div class="btn-group pull-right">
			  <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
			    @Messages("lang")
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			     <li><a href=@routes.Application.setLang("ca")>@Messages("lang.ca")</a></li>
			     <li><a href=@routes.Application.setLang("es")>@Messages("lang.es")</a></li>
			     <li><a href=@routes.Application.setLang("en")>@Messages("lang.en")</a></li>
			  </ul>
			</div>
            
            @if(session.get("connected") == null) {
          	  <a href=@routes.Application.login() class="btn pull-right btn-info">@Messages("menu.login")</a>
         	  <div class="btn-group pull-right">
			  <a class="btn dropdown-toggle pull-right btn-info" data-toggle="dropdown" href="#">
			    @Messages("leftbox.button")
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			     <li><a href=@routes.Application.newUser()>@Messages("new.candidate")</a></li>
			     <li><a href=@routes.Application.newCompUser()>@Messages("new.company")</a></li>
			  </ul>
			  </div>
            } else {
            	<!-- p class="nav navbar-text">Logged in as @session.get("email")</p-->
            	  <div class="btn-group pull-right">
				  <a class="btn dropdown-toggle pull-right btn-info" data-toggle="dropdown" href="#">
				    @session.get("email")
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				   <li><a href=@routes.Application.prepareUser()>@Messages("account")</a></li>
				     @if(session.get("type") == "CANDIDATE"){
	            	<li><a href=@routes.Candidate.index()>@Messages("candidate.area")</a></li>
	            	}
	            	@if(session.get("type") == "ENTERPRISE"){
	            	<li><a href=@routes.Company.index()>@Messages("company.area")</a></li>
	            	}
	            	@if(session.get("type") == "ADMINISTRATOR"){
	            	<li><a href=@routes.Admin.list(0,"name", "asc","")>@Messages("admin.area")</a></li>
	            	}
	            	<li class="divider"></li>
	            	<li><a href=@routes.Application.logout() id="logout">@Messages("logout")</a></li>
				  </ul>
            	</div>
         
            }
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>