@(userForm: Form[CompanyUser], menu: Html)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("New company", menu) {
    
     @if(flash.contains("error")) {
  		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>Error!</strong> @flash.get("error")
		</div>
  		 }
    
  	<div class="row-fluid">
    	<div class="span2"></div>
    	<div class="span10">
        <div class="well well-small">
    	
		    <fieldset>
		    	<legend>New company account</legend>
		    	
		    @form(routes.Application.saveCompUser()) {
		        
		         <div class="span5"> <!-- FIRST COLUMN -->
		        @inputText(userForm("name"), '_label -> Messages("user.name"))
		        @inputText(userForm("description"), '_label -> "description")
		        @inputText(userForm("email"), '_label -> Messages("user.email"))
		        @inputPassword(userForm("password"), '_label -> Messages("user.password"))
		        </div>
		        <div class="span5"> <!-- SECOND COLUMN -->
		        @inputText(userForm("docId"), '_label -> Messages("user.dni"))
		        @textarea(userForm("sector"), '_label -> "sector")
		        @textarea(userForm("web"), '_label -> "web")
		    	</div>
		           
		           
		        </fieldset>
		        
		       <br/>
		       <br/>
		        <div class="actions">
		            <input type="submit" value="Save account" class="btn"> or 
		            <a href=routes.Application.saveCompUser() class="btn">Cancel</a>
		        </div>
		       </div>
		       
		      
		        
		        
  			  }
  			  </div>
  			  </div>
    
}