@(userForm: Form[CompanyUser], menu: Html)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("New company", menu) {
    
    @form(routes.Application.saveCompUser()) {
        
        <fieldset>
         <legend>New company account</legend>
         
        @inputText(userForm("name"), '_label -> Messages("user.name"))
        @inputText(userForm("description"), '_label -> "description")
        @inputText(userForm("email"), '_label -> Messages("user.email"))
        @inputPassword(userForm("password"), '_label -> Messages("user.password"))
        @inputText(userForm("docId"), '_label -> Messages("user.dni"))
        @textarea(userForm("sector"), '_label -> "sector")
        @textarea(userForm("web"), '_label -> "web")
         
           
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save account" class="btn primary"> or 
            <a href=routes.Application.saveCompUser() class="btn">Cancel</a>
        </div>
        
    }
    
}